<div class="row">
  <div class="col">
    <h4 style="color:#395360;">Outline</h4>
    <p style="font-size: 10px;">Analyze features of Water Portfolio or choose another one</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">


        <!-- Charts -->
        <div class="row mt-3">
          <div class="col">
            <div class="card">
              <div class="card-header">
                Afflusso
              </div>
              <div class="card-body">
                <div id="afflusso"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <div class="card">
              <div class="card-header">
                Livello
              </div>
              <div class="card-body">
                <div id="livello"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <div class="card">
              <div class="card-header">
                Verbano
              </div>
              <div class="card-body">
                <div id="verbano"></div>
                <div id="hiplot" style="background-color: white"><div style="text-align: center">Loading HiPlot...</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div id="charts_wrapper"></div> -->
