<div class="row">
  <div class="col">
    <h4 style="color:#395360;">Outline</h4>
    <p style="font-size: 10px;">Analyze features of Water Portfolio or choose another one</p>
  </div>
</div>

<div class="row">
  <div class="col">

    <!-- Per avere i select come bottoni possiamo usare https://www.npmjs.com/package/bootstrap-select che però supporta fino a bootstrap4 -->
    <div class="form-row align-items-center">

      <div class="col-auto my-1">
        <label class="mr-sm-2" for="ind" style="font-size: 10px;">Selected Water Portfolio</label>
        <select class="custom-select mr-sm-2" id="ind" style="background-color: #026698; color: white;">
        </select>
      </div>

    </div>

  </div>
</div>

<div id="charts_wrapper"></div>
<div class="row mt-3">
  <div class="col">
    <div class="card">
      <div class="card-header">
        WPP Graph
      </div>
      <div class="card-body">
        <div id="lineplotly"></div>
      </div>
    </div>
  </div>
</div>
