<div class="row mt-3">
  <div class="col">
    <div class="row">
      <div class="col">
        <h4 style="color:#395360;">Water Portfolio outline</h4>
      </div>
    </div>
    <p class="text-muted small">Discover which actions are included in each Portfolio and analyse the related information with charts and map.

</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">

        <!-- Per avere i select come bottoni possiamo usare https://www.npmjs.com/package/bootstrap-select che però supporta fino a bootstrap4 -->
        <div class="row sticky-top">
          <div class="col">
            <div class="card bg-primary bg-opacity-75" style="z-index: 2000;">
              <div class="card-body">
                <div class="row">
                  <div class="col-3 my-1">
                    <div class="form-floating">
                      <select class="form-select" id="wpp"></select>
                      <!-- <div class="form-select" id="wpp"></div> -->
                      <label for="wpp">Selected Water portfolio</label>
                    </div>
                  </div>
                  <div class="col my-3">
                    <button id="eval_map" class="btn btn-outline-primary float-end ms-4 me-4" data-bs-toggle="tooltip" data-bs-placement="top" title="View maps"><i class="fa fa-map fa-xl fa-inverse"></i></button>
                    <button id="eval_chart" class="btn btn-outline-primary float-end" data-bs-toggle="tooltip" data-bs-placement="top" title="View charts"><i class="fa fa-chart-line fa-xl fa-inverse"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Cards section -->
        <!-- see https://startbootstrap.com/previews/material-admin-pro -->
        <div id="expl_cards" class="row mt-1">
        </div>

        <!-- Charts -->
        <div id="outline_charts">

      </div>

      </div>
    </div>
  </div>
</div>

<!-- <div id="charts_wrapper"></div> -->
