<div class="row mt-5">
  <div class="col">
    <div class="row">
      <div class="col">
        <h4 style="color:#395360;">Evaluation charts</h4>
      </div>
      <div class="col">
        <span class="text-danger">WARNING: Test data, for demonstration purpose only</span>
      </div>
    </div>
    <p style="font-size: 10px;">Analyze evaluation indicators of the selected combination of the WPP and scenario or choose a different one</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">

        <!-- Per avere i select come bottoni possiamo usare https://www.npmjs.com/package/bootstrap-select che però supporta fino a bootstrap4 -->
        <!-- <div class="row position-fixed" style="z-index: 2000; width:100%"> -->
        <div class="row sticky-top">
          <div class="col">
            <div class="card bg-primary bg-opacity-75" style="z-index: 2000;">
              <div class="card-body">
                <div class="col-3 my-1">
                  <div class="form-floating">
                    <select class="form-select" id="wpp"></select>
                    <!-- <div class="form-select" id="wpp"></div> -->
                    <label for="wpp">Selected Water portfolio</label>
                  </div>
                </div>
                <!-- <div class="col-3 my-1">
                  <div class="form-floating">
                    <select class="form-select" id="scen"></select>
                    <label for="scen">Selected scenario</label>
                  </div>
                </div> -->
                <!-- <div class="col-3 my-1">
                  <div class="form-floating">
                    <select class="form-select" id="ind"></select>
                    <label for="scen">Selected indicator</label>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <!-- Charts -->


        <!-- New carts -->
        <!-- cyclost_lineplot('i_cyclo_mean_irr_def_M', expF=[exp_id])
        cyclost_lineplot('i_cyclo_mean_dw_def_M', expF=[exp_id], locF=[5])  #nota che ho ripristinato la possibilità di filtrare per location perchè qui serve
        cyclost_lineplot('i_cyclo_mean_wdistr_cost_M', expF=[exp_id], locF=[5])
        cyclost_lineplot('i_cyclo_mean_ind_def_M', expF=[exp_id], locF=[2])
        -->


        <div class="row mt-1">
          <div class="col">
            <div class="card" id="size">
              <div class="card-header">
              </div>
              <div class="card-body">
                <div id="eval_g1" data-plot_id="i_cyclo_mean_irr_def_M" data-plot_type="cyclost_lineplot" data-scen="opt" data-exp="nonserve" class="dap_plot"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <div class="card">
              <div class="card-header">
              </div>
              <div class="card-body">
                <!-- Use data-plot_type to force the type of graph to be shown (if the data-plot_id return multiple choice ) -->
                <!-- <div id="eval_g2" data-plot_id="i_cyclo_mean_dw_def_M" data-plot_type="cyclost_heatmap" data-scen="opt" data-exp="nonserve" data-loc="opt" class="dap_plot"></div> -->
                <div id="eval_g2" data-plot_id="i_cyclo_mean_dw_def_M" data-plot_type="cyclost_lineplot" data-scen="opt" data-exp="nonserve" data-loc="5" class="dap_plot"></div>

              </div>
            </div>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col">
            <div class="card">
              <div class="card-header">
              </div>
              <div class="card-body">
                <!-- <div id="eval_g3" data-plot_id="i_wdistr_cost_Y" data-scen="opt" data-exp="nonserve" data-loc="opt" class="dap_plot"></div> -->
                <div id="eval_g3" data-plot_id="i_cyclo_mean_wdistr_cost_M" data-plot_type="cyclost_lineplot" data-scen="opt" data-exp="nonserve" data-loc="5" class="dap_plot"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <div class="card">
              <div class="card-header">
              </div>
              <div class="card-body">
                <div id="eval_g4" data-plot_id="i_cyclo_mean_ind_def_M" data-plot_type="cyclost_lineplot" data-scen="opt" data-exp="nonserve" data-loc="2" class="dap_plot"></div>
              </div>
            </div>
          </div>
        </div>


        <div id="opt_plots"></div>

        <div class="row mt-3">
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="add_ind"></select>
              <label for="scen">Add indicator</label>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
