
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        WPP portfolios list {{ url }}
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Scenarios</th>
                <th scope="col">Description</th>
                <th scope="col">Outline</th>
                <th scope="col">Evaluations</th>
              </tr>
            </thead>
            <tbody id="portfolios">
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
